<?php

namespace App\Containers\[Model]\Transformers;

use App\Ship\Transformers\Transformer;
use App\Containers\[Model]\Models\[Model];

class [Model]Transformer extends Transformer {
    protected $avialableIncludes = [Includes]

    public function transform([Model] $model){
        $data = [Fields]

        return $data;
    }
}

?>
